.App {
  background-size: cover;
  width: 100%;
  height: 100vh;
} 
.header{
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

h1{
  font-size: 80px;
  font-family: 'Courgette', cursive;
   margin-bottom:0;
}
h2{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
   margin-top:0;
}

p{
  margin:2px;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.content {
  background: #ffffff55;
  width: 60%;
  margin: auto;
  padding-right:30px;
  padding-left:30px;
  padding-top:10px;
  padding-bottom:10px;
  font-size: 20px;
}

button{
  width:100px;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  background-color:pink;
}

.link{
  text-align: center;
}

.link button{
  width:150px;

  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  background-color:pink;
}